@use "vars" as *;

footer {
    #links {
        background-image: url("../../public/images/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .container {
            display: flex;
            padding: 30px 0;
            background-image: url("../../public/images/dc-logo-bg.png");
            background-repeat: no-repeat;
            background-position: right;

            div {
                margin-right: 20px;
            }
        }

        h3 {
            color: white;
            text-align: center;
        }
    }

    a {
        color: #89908f;
        font-size: 12px;
    }

    #socials {
        background-color: #303030;
        height: 120px;

        .container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                display: flex;
                align-items: center;
            }
        }

        h3 {
            color: $blue;
        }

        img {
            margin-left: 20px;
            cursor: pointer;
        }
    }

    .button {
        border: 2px solid $blue;
        padding: 10px;
        color: white;
        font-weight: bold;
        font-size: 17px;
    }
}
